{{template "main.html" .}}
{{define "content"}}
<div class="ui center aligned grid">
    <div class="row loginbox">
        <div class="four wide column">
            <form class="ui large form" action="/public/auth" method="post">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="example@domain.com"/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="pass" placeholder="Password"/>
                        </div>
                    </div>
                    <button class="ui fluid primary button">Login</button>
                </div>
            </form>
        </div>
        <div class="four wide column">
            <form class="ui large form" action="/public/token" method="post">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="example@domain.com"/>
                        </div>
                    </div>
                    <button class="ui fluid primary button">Recover</button>
                </div>
            </form>
        </div>
        <div class="four wide column">
            <form class="ui large form" action="/public/create" method="post">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="example@domain.com"/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="pass" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="pass2"  placeholder="Repeat password"/>
                        </div>
                    </div>
                    <button class="ui fluid primary button">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="four wide column">
            <form class="ui large form" action="/public/googlelogin" method="post">
                <div class="ui stacked segment">
                    <button class="ui fluid primary button">Login with Google</button>
                </div>
            </form>
        </div>
    </div>

    {{if .Errors}}
    <div class="row">
        <div class="eight wide column">
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="list">
                {{range .Errors}}
                    <li>{{.}}</li>
                {{end}}
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{end}}
{{define "style"}}
<style>
    .loginbox{margin-top: 100px;}
</style>
{{end}}