{{template "main.html" .}}
{{define "content"}}
<div class="ui center aligned container" style="margin-top: 30px;">
    <h3 class="ui header">I'm sorry, page not found</h3>
    <a href="/">Back</a>
</div>
{{end}}