{{template "main.html" .}}
{{define "content"}}
    <div class="ui container">
        <div class="ui secondary  menu">
            <div class="right menu">
                <a class="ui item" href="/public/logout">
                    Logout
                </a>
            </div>
        </div>
        <form class="ui form" action="/user/update" method="post">
            <div class="field">
                <label>First Name</label>
                <input type="text" name="firstname"  value="{{.Data.info.FirstName}}" {{if not .Data.editable}}disabled{{end}}>
            </div>
            <div class="field">
                <label>Last Name</label>
                <input type="text" name="lastname" value="{{.Data.info.LastName}}" {{if not .Data.editable}}disabled{{end}}>
            </div>
            <div class="field">
                <label>Cellphone</label>
                <input type="number" name="cellphone" value="{{.Data.info.Cellphone}}" {{if not .Data.editable}}disabled{{end}}>
            </div>
            <div class="field">
                <label>Email</label>
                <input type="email" name="email" placeholder="villa061004@gmail.com"  value="{{.Data.info.Email}}" {{if not .Data.editable}}disabled{{end}}>
            </div>
            <div class="field">
                <label>Address</label>
                <input type="text" id="searchTextField" name="address" placeholder="New York, NY 101 6th Ave"  value="{{.Data.info.Address}}" {{if not .Data.editable}}disabled{{end}}>
            </div>
            {{if .Data.editable}}
                <button class="ui button" type="submit">Update</button>
            {{end}}
        </form>
        <div class="ui grid" style="margin-top: 10px;">
            {{if .Errors}}
                <div class="eight wide column">
                    <div class="ui negative message">
                        <i class="close icon"></i>
                        <div class="list">
                        {{range .Errors}}
                            <li>{{.}}</li>
                        {{end}}
                        </div>
                    </div>
                </div>
            {{end}}
            {{if .Infos}}
                <div class="eight wide column">
                    <div class="ui info message">
                        <i class="close icon"></i>
                        <div class="list">
                        {{range .Infos}}
                            <li>{{.}}</li>
                        {{end}}
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    </div>
{{end}}
{{define "script"}}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyD_onJXJ_FC2Q1gzIwyZWiSZQRmABRw18E"></script>
<script type="text/javascript">
    {{/*https://stackoverflow.com/questions/13689705/how-to-add-google-maps-autocomplete-search-box*/}}
    function initialize() {
        var input = document.getElementById('searchTextField');
        new google.maps.places.Autocomplete(input);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{{end}}