{{template "main.html" .}}
{{define "content"}}
<div class="ui center aligned grid">
    <div class="row loginbox">
        <div class="four wide column">
            <form class="ui large form" action="/public/reset" method="post">
                <input type="hidden" value="{{.Data.token}}" name="token" />
                <div class="ui stacked segment">
                    <div class="field">
                        <label>New password</label>
                        <input type="password" name="pass" placeholder="****"/>
                    </div>
                    <div class="field">
                        <label>Repeat password</label>
                        <input type="password" name="pass2" placeholder="****"/>
                    </div>
                    <button class="ui fluid primary button">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
    {{if .Errors}}
        <div class="eight wide column">
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="list">
                {{range .Errors}}
                    <li>{{.}}</li>
                {{end}}
                </div>
            </div>
        </div>
    {{end}}
    </div>
</div>
{{end}}
{{define "style"}}
<style>
    .loginbox{margin-top: 100px;}
</style>
{{end}}