<!DOCTYPE html>
<html>
  <head>
    <title>User management</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bower/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    {{block "style" .}}{{end}}
  </head>
  <body>
    <div class="main">
        {{block "content" .}}{{end}}
    </div>
    <script src="/static/bower/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower/semantic/dist/semantic.min.js"></script>
    <script src="/static/bower/jquery-serialize-object/dist/jquery.serialize-object.min.js"></script>
    <script src="/static/js/functions.js"></script>
    {{block "script" .}}{{end}}
  </body>
</html>
